<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level" : 2} -->
<h2 class="wp-block-heading">Collin's Music Academy</h2>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/400/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga
	illum iure! Magni enim magnam placeat sed. Illum aspernatur odio qui iure
	sapiente delectus hic praesentium, iusto ab a eum.
</p>
<!-- /wp:paragraph -->
